<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">
<body>
    <form th:action="@{/members/updatePassword}" method="post" th:object="${updatePasswordForm}">
        <div>
            <label for="currentPassword">현재 비밀번호</label>
            <input type="password" id="currentPassword" th:field="*{currentPassword}"/>
        </div>

        <div>
            <label for="newPassword">새 비밀번호</label>
            <input type="password" id="newPassword" th:field="*{newPassword}"/>
        </div>

        <div>
            <label for="newPasswordConfirm">새 비밀번호 확인</label>
            <input type="password" id="newPasswordConfirm" th:field="*{newPasswordConfirm}"/>
        </div>

        <button type="submit">비밀번호 변경</button>
    </form>
</body>
</html>