<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="my-3">
    <form th:action="@{/bases/write}" method="post" th:object="${articleRequest}">
        <label for="title"></label>
        <input type="text" id="title" class="form-control" th:field="*{title}">

        <label for="content"></label>
        <input type="text" id="content" class="form-control" th:field="*{content}">

        <label for="link"></label>
        <input type="text" id="link" class="form-control" th:field="*{link}">

        <button type="submit" class="btn btn-success">글 쓰기</button>
    </form>
</div>
</html>