<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">
<head>
    <title>글 상세</title>
    <!-- TOAST UI VIEWER -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />

    <script defer th:src="@{/js/articles/detail.js}"></script>
</head>
<div layout:fragment="content" class="my-3">
    <div th:object="${article}">
        <h3 th:text="*{title}"></h3>
        <p th:text="*{nickname}"></p>
        <p th:text="*{createdAt}"></p>

        <input type="hidden" class="content" th:value="*{content}">
        <div id="viewer"></div>
    </div>

    <div class="row g-5" id="article-buttons">
        <form id="delete-article-form" th:action="@{|/articles/${article.id}/delete|}" method="post">
            <div class="pb-5 d-grid gap-2 d-md-block">
                <a class="btn btn-success me-md-2" role="button" th:href="@{|/articles/${article.id}/form|}">수정</a>
                <button class="btn btn-danger me-md-2" type="submit">삭제</button>
            </div>
        </form>
    </div>
</div>
</html>